/* Or Poppins */
@font-face {
	font-family: 'Lora';
	src: url('/fonts/Lora/Lora-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('/fonts/Lora/Lora-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('/fonts/Lora/Lora-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('/fonts/Lora/Lora-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('/fonts/Lora/Lora-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lora', serif;
	/* font-family: sans-serif; */
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5;
}
.chart-svg,
.legend {
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

.report-container {
	width: calc(min(900px, 95vw));
}

/* .interaction-text::before {
	content: '➤';
	position: absolute;
	left: 0;
	top: 0;
} */
.interaction-text {
	/* position: relative; */
	/* padding-left: 1.5rem; */
	font-style: italic;
	/* box-sizing: border-box; */
}

section {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section:first-of-type {
	margin-top: 0;
}
hr {
	margin: 0;
}
p {
	margin: 0.5rem 0;
}
.chart {
	margin: 1rem 0;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	color: #333333;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
h2 {
	color: #333333;
	margin-bottom: 1rem;
	font-size: 1.75rem;
}
ul {
	box-sizing: border-box;
}
/* .insight-text {
	padding-left: 1rem; 
	border-left: 4px solid gray;
	margin: 1rem 0; 
} */
.insight-text {
	position: relative;
	padding: 1rem;
	padding-left: 3rem;
	/* border: 3px solid rgb(224, 198, 0); */
	background-color: rgba(255, 225, 0, 0.137);
	border-radius: 1rem;
	box-sizing: border-box;
}
.insight-text::before {
	content: '💡'; /* Insert the symbol */
	position: absolute;
	left: 0; /* Position the symbol inside the left padding */
	top: 0;
	/* transform: translateY(-50%); */
	font-size: 2rem; /* Adjust the size of the symbol */
}

.limit-width {
	width: calc(min(600px, 95vw));
}
.axis-x,
.axis-y,
.label-small {
	font-size: 0.8rem;
}

.pizza-category-classic-text,
.pizza-category-chicken-text,
.pizza-category-supreme-text,
.pizza-category-veggie-text {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	color: #333333;
	/* padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px; */
}

.pizza-category-classic-text {
	text-decoration-color: #4269d0;
}
.pizza-category-chicken-text {
	text-decoration-color: #efb118;
}
.pizza-category-supreme-text {
	text-decoration-color: #ff725c;
}
.pizza-category-veggie-text {
	text-decoration-color: #6cc5b0;
}
