/* Or Poppins */
@font-face {
	font-family: 'SourGummy';
	src: url('/fonts/SourGummy/SourGummy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourGummy';
	src: url('/fonts/SourGummy/SourGummy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SourGummy';
	src: url('/fonts/SourGummy/SourGummy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SourGummy';
	src: url('/fonts/SourGummy/SourGummy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SourGummy';
	src: url('/fonts/SourGummy/SourGummy-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Chewy';
	src: url('/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'SourGummy', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5;
}
