/*
Das hier, sobald hamburger
#hero-video-container
    margin-top: -10vh;
sobald das hamburger nav eingeschaltet wird
und
#hero
    justify-content: center

Und gucken, was bei 790px mit dem grid passiert

*/

@media screen and (max-width: 900px) {
	.project-page__title {
		margin-top: 6rem;
	}

	.project-page__text-content {
		flex-direction: column;
		gap: 2rem;
	}

	.project-page__description {
		width: 100%;
	}

	.project-page__details {
		width: 100%;
	}

	.project-page__impressions {
		margin-top: 4.3rem;
	}

	.project-page__impressions-small-container {
		gap: 0;
		grid-template-columns: repeat(1, 1fr);
	}
}

/* @media screen and (max-width: 1000px) {
	.desktop-nav {
		display: none;
	}
	.hamburger-nav {
		display: grid;
	}
	.slim-fit-container {
		width: 90vw;
	}
} */

/* DUPLICATE */
@media screen and (orientation: portrait) {
	/* styles for screens with a portrait orientation */
	.teaser-video {
		pointer-events: none;
	}
}

@media screen and (max-width: 540px) {
	footer {
		height: 28vh;
	}
	.footer-nav {
		padding-bottom: 8vh;
	}
	.footer-nav .nav-links {
		gap: 0rem;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.footer-nav li {
		margin: 0 0.5rem 0 0.5rem;
	}
}

@media screen and (max-width: 365px) {
	html {
		font-size: 14px;
	}
}
@media screen and (max-width: 300px) {
	html {
		font-size: 12px;
	}
}
@media screen and (max-width: 260px) {
	html {
		font-size: 10px;
	}
}
